{% load cart_template_tags %}
{% load static %}
<!doctype html>
<html class="no-js" lang="zxx">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Borthakur's Agency</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="shortcut icon" type="image/x-icon" href={% static "img/favicon.ico" %}>
		<!-- CSS here -->
            <link rel="stylesheet" href={% static "css/bootstrap.min.css" %}>
            <link rel="stylesheet" href={% static "css/owl.carousel.min.css" %}>
            <link rel="stylesheet" href={% static "css/flaticon.css" %}>
            <link rel="stylesheet" href={% static "css/slicknav.css" %}>
            <link rel="stylesheet" href={% static "css/slicknav.css" %}>
            <link rel="stylesheet" href={% static "css/magnific-popup.css" %}>
            <link rel="stylesheet" href={% static "css/all.css" %}>
            <link rel="stylesheet" href={% static "css/themify-icons.css" %}>
            <link rel="stylesheet" href={% static "css/slick.css" %}>
            <link rel="stylesheet" href={% static "css/nice-select.css" %}>
            <link rel="stylesheet" href={% static "css/style.css" %}>
            {% block headerElement %}{% endblock %}
    </head>

    <body>

    <!-- Preloader Start -->
        <div id="preloader-active">
            <div class="preloader d-flex align-items-center justify-content-center">
                <div class="preloader-inner position-relative">
                    <div class="preloader-circle"></div>
                    <div class="preloader-img pere-text">
                        <img src={% static "img/logo/logo.png" %} alt="">
                    </div>
                </div>
            </div>
        </div>
        <!-- Preloader Start -->

        <header>
            <!-- Header Start -->
            <div class="header-area">
                <div class="main-header ">
                    <div class="header-top top-bg d-none d-lg-block">
                        <div class="container-fluid">
                            <div class="col-xl-12">
                                <div class="row d-flex justify-content-between align-items-center">
                                    <div class="header-info-left d-flex">
                                        <div class="flag">
                                            <img src={% static "img/icon/header_icon.png" %}>
                                        </div>
                                        <ul class="contact-now">
                                            <li>+777 2345 7886</li>
                                        </ul>
                                    </div>
                                    <div class="header-info-right">
                                        {% if user.is_authenticated %}
                                            <ul>
                                                <li><a href="{% url 'profile' %}">My Account</a></li>
                                                <li><a href="{% url 'logout' %}">Logout</a></li>
                                            </ul>
                                        {% else %}
                                            <ul>
                                                <li><a href="{% url 'login' %}">Login</a></li>
                                                <li><a href="{% url 'register' %}">Sign Up</a></li>
                                            </ul>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="header-bottom  header-sticky">
                        <div class="container-fluid">
                            <div class="row align-items-center">
                                <!-- Logo -->
                                <div class="col-xl-1 col-lg-1 col-md-1 col-sm-3">
                                    <div class="logo">
                                      <a href="store/index.html"><img src="{% static 'img/logo/logo.png' %}" alt=""></a>
                                    </div>
                                </div>
                                <div class="col-xl-6 col-lg-8 col-md-7 col-sm-5">
                                    <!-- Main-menu -->
                                    <div class="main-menu f-right d-none d-lg-block">
                                        <nav>
                                            <ul id="navigation">
                                                <li><a href="{% url 'product-types' category='L' %}">Laptops</a></li>
                                                <li><a href="{% url 'product-types' category='S' %}">Mobiles</a></li>
                                                <li><a href="{% url 'product-types' category='A' %}">Accessories</a></li>
                                            </ul>
                                        </nav>
                                    </div>
                                </div>
                                <div class="col-xl-5 col-lg-3 col-md-3 col-sm-3 fix-card">
                                    <ul class="header-right f-right d-none d-lg-block d-flex justify-content-between">
                                        <li class="d-none d-xl-block">
                                            <div class="search-anm form-box f-right">
                                                <input id="searchbar" type="text" name="Search" placeholder="Search products">
                                                <div class="search-icon">
                                                    <i class="fas fa-search special-tag"></i>
                                                </div>
                                            </div>
                                         </li>
                                        <li>
                                            <div class="shopping-card">
                                                <a href="{% url 'cart' %}"><i class="fas fa-shopping-cart"></i></a>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                                <!-- Mobile Menu -->
                                <div class="col-12">
                                    <div class="mobile_menu d-block d-lg-none"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Header End -->
        </header>

        <!-- slider Area Start-->
        <div class="slider-area ">
            <!-- Mobile Menu -->
            {% if title == 'Home' %}
                <div class="single-slider slider-height2 d-flex align-items-center" data-background="{% static 'img/hero/h1_hero.jpg' %}">
                    <div class="container">
                        <div class="row d-flex align-items-center justify-content-between">
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 d-none d-md-block">
                                <div class="hero__img" data-animation="bounceIn" data-delay=".4s">
                                    <img src="{% static 'img/hero/hero_man.png' %}" alt="">
                                </div>
                            </div>
                            <div class="col-xl-5 col-lg-5 col-md-5 col-sm-8">
                                <div class="hero__caption">
                                    <span data-animation="fadeInRight" data-delay=".4s">60% Discount</span>
                                    <h1 data-animation="fadeInRight" data-delay=".6s">Winter <br> Collection</h1>
                                    <p data-animation="fadeInRight" data-delay=".8s">Best Cloth Collection By 2020!</p>
                                    <!-- Hero-btn -->
                                    <div class="hero__btn" data-animation="fadeInRight" data-delay="1s">
                                        <a href="industries.html" class="btn hero-btn">Shop Now</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% else %}
                <div class="single-slider slider-height2 d-flex align-items-center" data-background="{% static 'img/hero/contact_hero.jpg' %}">
                    <div class="container">
                        <div class="row">
                            <div class="col-xl-12">
                                <div class="hero-cap text-center">
                                    <h2 style="color: whitesmoke">{{ title }}</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {%  endif %}
        </div>
        <!-- slider Area End-->

        {% if messages %}
            {% for message in messages %}
                <div class="container">
                    <div class="alert alert-{{ message.tags }}" role="alert">
                        {{ message }}
                    </div>
                </div>
            {% endfor %}
        {% endif %}
        {% block content %}{% endblock %}

        <footer>
           <!-- Footer Start-->
            <div class="footer-area footer-padding">
                <div class="container">
                    <div class="row d-flex justify-content-between">
                        <div class="col-xl-3 col-lg-3 col-md-5 col-sm-6">
                            <div class="single-footer-caption mb-50">
                                <div class="single-footer-caption mb-30">
                                     <!-- logo -->
                                    <div class="footer-logo">
                                        <a href="store/index.html"><img src="{% static 'assets/img/logo/logo2_footer.png' %}" alt=""></a>
                                    </div>
                                    <div class="footer-tittle">
                                        <div class="footer-pera">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit sed do eiusmod tempor incididunt ut labore.</p>
                                       </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-2 col-lg-3 col-md-3 col-sm-5">
                            <div class="single-footer-caption mb-50">
                                <div class="footer-tittle">
                                    <h4>Quick Links</h4>
                                    <ul>
                                       <li><a href="#">About</a></li>
                                       <li><a href="#"> Offers & Discounts</a></li>
                                       <li><a href="#"> Get Coupon</a></li>
                                       <li><a href="#">  Contact Us</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-4 col-sm-7">
                            <div class="single-footer-caption mb-50">
                                <div class="footer-tittle">
                                    <h4>New Products</h4>
                                    <ul>
                                       <li><a href="#">Woman Cloth</a></li>
                                       <li><a href="#">Fashion Accessories</a></li>
                                       <li><a href="#"> Man Accessories</a></li>
                                       <li><a href="#"> Rubber made Toys</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-5 col-sm-7">
                            <div class="single-footer-caption mb-50">
                                <div class="footer-tittle">
                                    <h4>Support</h4>
                                    <ul>
                                    <li><a href="#">Frequently Asked Questions</a></li>
                                    <li><a href="#">Terms & Conditions</a></li>
                                    <li><a href="#">Privacy Policy</a></li>
                                    <li><a href="#">Privacy Policy</a></li>
                                    <li><a href="#">Report a Payment Issue</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                   <!-- Footer bottom -->
                    <div class="row">
                    <div class="col-xl-7 col-lg-7 col-md-7">
                        <div class="footer-copy-right">
                            <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                                Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="ti-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                            </p>
                        </div>
                    </div>
                    <div class="col-xl-5 col-lg-5 col-md-5">
                        <div class="footer-copy-right f-right">
                            <!-- social -->
                            <div class="footer-social">
                                <a href="#"><i class="fab fa-twitter"></i></a>
                                <a href="#"><i class="fab fa-facebook-f"></i></a>
                                <a href="#"><i class="fab fa-behance"></i></a>
                                <a href="#"><i class="fas fa-globe"></i></a>
                            </div>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
           <!-- Footer End-->
        </footer>

	<!-- JS here -->

		<!-- All JS Custom Plugins Link Here here -->
        <script src={% static "js/vendor/modernizr-3.5.0.min.js" %}></script>
		<!-- Jquery, Popper, Bootstrap -->
		<script src={% static "js/vendor/jquery-1.12.4.min.js" %}></script>
        <script src={% static "js/popper.min.js" %}></script>
        <script src={% static "js/bootstrap.min.js" %}></script>
	    <!-- Jquery Mobile Menu -->
        <script src={% static "js/jquery.slicknav.min.js" %}></script>

		<!-- Jquery Slick , Owl-Carousel Plugins -->
        <script src={% static "js/owl.carousel.min.js" %}></script>
        <script src={% static "js/slick.min.js" %}></script>

		<!-- One Page, Animated-HeadLin -->
        <script src={% static "js/wow.min.js" %}></script>
		<script src={% static "js/animated.headline.js" %}></script>
        <script src={% static "js/jquery.magnific-popup.js" %}></script>

		<!-- Scrollup, nice-select, sticky -->
        <script src={% static "js/jquery.scrollUp.min.js" %}></script>
        <script src={% static "js/jquery.nice-select.min.js" %}></script>
		<script src={% static "js/jquery.sticky.js" %}></script>

        <!-- contact js -->
        <script src={% static "js/contact.js" %}></script>
        <script src={% static "js/jquery.form.js" %}></script>
        <script src={% static "js/jquery.validate.min.js" %}></script>
        <script src={% static "js/mail-script.js" %}></script>
        <script src={% static "js/jquery.ajaxchimp.min.js" %}></script>

		<!-- Jquery Plugins, main Jquery -->
        <script src={% static "js/plugins.js" %}></script>
        <script src={% static "js/main.js" %}></script>
    </body>
</html>