{% extends "base.html" %}
{% load static %}

{% block headerElement %}
    <link rel="stylesheet" href={% static "css/payment.css" %}>
    <script src="https://js.stripe.com/v3/"></script>
{% endblock %}

{% block content %}
    <section class="checkout_area section_padding">
        <div class="container">
            <div class="billing_details">
                <div class="row">
                    <div class="col-lg-8">
                        <form id="payment-form">
                            <div id="card-element"></div>
                            <button class="paymentBTN" id="submit">
                                <div class="spinner hidden" id="spinner"></div>
                                <span id="button-text">Pay now</span>
                            </button>
                            <p id="card-error" role="alert"></p>
                            <p class="result-message hidden">
                                Payment succeeded, see the result in your
                                <a href="" target="_blank">Stripe dashboard.</a> Refresh the page to pay again.
                            </p>
                        </form>
                    </div>
                    <div class="col-lg-4">
                        <div class="order_box">
                            <h2>Your Order</h2>
                            <ul class="list">
                                <li>
                                    <a class="font-weight-bold">Product
                                        <span class="font-weight-bold">Total</span>
                                    </a>
                                </li>
                                {% for order in object.items.all %}
                                    <li>
                                        <a>{{ order.item.title }}
                                            <span class="middle">x {{ order.quantity }}</span>
                                            <span class="last">Rs {{ order.get_total_item_price }}</span>
                                        </a>
                                    </li>
                                {% endfor %}
                            </ul>
                            <ul class="list list_2">
                                <li>
                                    <a>Subtotal
                                        <span>Rs {{ object.get_total }}</span>
                                    </a>
                                </li>
                                <li>
                                    <a>Shipping
                                        <span>Flat rate: Rs 50</span>
                                    </a>
                                </li>
                                <li>
                                    <a>Total
                                        <span id="total"></span>
                                    </a>
                                    <script>
                                        const total = JSON.parse('{{ object.get_total }}')
                                        document.getElementById("total").innerHTML = "Rs " + (total + 50).toString()
                                    </script>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script src={% static "js/client.js" %}></script>
{% endblock %}