{% extends "base.html" %}
{% load static %}
{% block content %}
    <section class="product_list section_padding">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-3">
                    <div class="product_sidebar">
                        <div class="single_sedebar">
                            <form action="#">
                                <input type="text" name="#" placeholder="Search keyword">
                                <i class="ti-search"></i>
                            </form>
                        </div>
                        <div class="single_sedebar">
                            <div class="select_option">
                                <div class="select_option_list">Category <i class="right fas fa-caret-down"></i> </div>
                                <div class="select_option_dropdown">
                                    <p><a href="#">Category 1</a></p>
                                    <p><a href="#">Category 2</a></p>
                                    <p><a href="#">Category 3</a></p>
                                    <p><a href="#">Category 4</a></p>
                                </div>
                            </div>
                        </div>
                        <div class="single_sedebar">
                            <div class="select_option">
                                <div class="select_option_list">Type <i class="right fas fa-caret-down"></i> </div>
                                <div class="select_option_dropdown">
                                    <p><a href="#">Type 1</a></p>
                                    <p><a href="#">Type 2</a></p>
                                    <p><a href="#">Type 3</a></p>
                                    <p><a href="#">Type 4</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="product_list">
                        <div class="col-lg-6 col-sm-6">
                            {% for product in object_list %}
                                <a class="media single_product_item" href="{{ product.get_absolute_url }}">
                                    <img class="mr-3" src="{{ product.image.url }}" alt="Generic placeholder image">
                                    <a class="media-body">
                                        <div class="article-metadata">
                                            <a class="mr-2" href="#">{{ product.title }}</a>
                                        </div>
                                        <h2>{{ product.title }}</h2>
                                        <p class="article-content">Processor: {{ product.processor }}
                                            Ram: {{ product.ram }} GB,
                                            Storage: {{ product.storage }} GB,
                                            Operating System: {{ product.OS }},
                                            Screen: {{ product.screen }} inches,
                                            Color: {{ product.color }}
                                        </p>
                                    </a>
                                </a>
                            {% endfor %}
                        </div>
                        <div class="load_more_btn text-center">
                            <a href="#" class="btn_3">Load More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- product list part end-->
{% endblock content %}