{% extends "base.html" %}
{% load static %}
{% block content %}
    <div class="product_image_area">
        <div class="container">
            <div class="media">
                <div class="single_product_img">
                    <img src="{{ object.image.url }}" alt="#" class="img-fluid">
                </div>
                <div class="media-body">
                    <div class="text-center">
                        <h3>{{ object.title }}</h3>
                        <p>
                            Processor: {{ object.processor }} <br>
                            Ram: {{ object.ram }} GB <br>
                            Storage: {{ object.storage }} GB <br>
                            Operating System: {{ object.OS }} <br>
                            Screen: {{ object.screen }} inches <br>
                            Color: {{ object.color }} <br>
                        </p>
                        <div class="card_area">
                            <div class="product_count_area">
                                <p>Price: {{ object.price }}</p>
                            </div>
                            <div class="add_to_cart">
                                <a href="{{ object.get_add_to_cart_url }}" class="btn_3">add to cart</a>
                                <a href="{{ object.remove_from_cart_url }}" class="btn_3">Remove from cart</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}