{% extends "base.html" %}
{% load static %}
{% block content %}
    <!--================login_part Area =================-->
    <section class="login_part section_padding ">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lSg-6 col-md-6">
                    <div class="login_part_text text-center">
                        <div class="login_part_text_iner">
                            <h2>New to our Shop?</h2>
                            <p>Please click the link below to register yourself to start shopping</p>
                            <a class="btn_3" href={% url 'register' %}>Create an Account</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="login_part_form">
                        <div class="login_part_form_iner">
                            <h1>Signing In</h1><br><br>
                            <form class="row contact_form" method="POST">
                                {% csrf_token %}
                                {% for non_field_error in form.non_field_errors %}
                                    <div class="invalid-feedback">
                                        <span>{{ non_field_error }}</span>
                                    </div>
                                {% endfor %}
                                    <div class="col-md-12 form-group p_star">
                                        <input class="form-control" id="{{ form.username.id_for_label }}" maxlength="30" name="{{ form.username.html_name }}" placeholder="{{ form.username.html_name }}" type="text" />
                                        {% for error in form.username.errors %}
                                            <div class="invalid-feedback">
                                                <span>{{ error }}</span>
                                            </div>
                                        {% endfor %}
                                    </div>
                                    <div class="col-md-12 form-group p_star">
                                        <input class="form-control" id="{{ form.password.id_for_label }}" maxlength="30" name="{{ form.password.html_name }}" placeholder="{{ form.password.html_name }}" type="password" />
                                        {% for error in form.password.errors %}
                                            <div class="invalid-feedback">
                                                <span>{{ error }}</span>
                                            </div>
                                        {% endfor %}
                                    </div>

                                <div class="col-md-12 form-group">
                                    <div class="creat_account d-flex align-items-center">
                                        <input type="checkbox" id="f-option" name="selector">
                                        <label for="f-option">Remember me</label>
                                    </div>
                                    <button type="submit" value="submit" class="btn_3">
                                        Register
                                    </button>
                                    <a class="lost_pass" href="#">forget password?</a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--================login_part end =================-->
{% endblock content %}
