{% extends "base.html" %}
{% load static %}
{% block content %}
    <div class="col-lg-8 col-md-8">
        <h3 class="mb-30">Form Element</h3>
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {% for non_field_error in u_form.non_field_errors %}
                <div class="invalid-feedback">
                    <span>{{ non_field_error }}</span>
                </div>
            {% endfor %}
            {% for field in u_form %}
                <div class="col-md-12 form-group p_star">
                    <label for="{{ field.id_for_label }}">{{ field.html_name }}</label>
                    {{ field }}
                    {% for error in field.errors %}
                        <div class="invalid-feedback">
                            <span>{{ error }}</span>
                        </div>
                    {% endfor %}
                </div>
            {% endfor %}
            {% for non_field_error in p_form.non_field_errors %}
                <div class="invalid-feedback">
                    <span>{{ non_field_error }}</span>
                </div>
            {% endfor %}
            {% for field in p_form %}
                <div class="col-md-12 form-group p_star">
                    <label for="{{ field.id_for_label }}">{{ field.html_name }}</label>
                    {{ field }}
                    {% for error in field.errors %}
                        <div class="invalid-feedback">
                            <span>{{ error }}</span>
                        </div>
                    {% endfor %}
                </div>
            {% endfor %}
            <div class="button-group-area mt-40">
                <button class="genric-btn primary circle" type="submit">Update</button>
            </div>
        </form>
    </div>
{% endblock content %}
